body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/got-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

h2 {
    display: flex;
    flex-flow: row-reverse;
    font-size: 2em;
    text-align: right;
    color:white;
    padding: 1em;
}

h1 {
    display: flex;
    flex-flow: row;
    color: white;
    height: 60vh;
    align-items: flex-end;
    font-size: 4em;
    padding: 1em;
    margin: 0;
}